body {
    background: #E5E5E5;
    font-size: 32px;
    font-family: 'Playfair Display', serif;
    width: 100%;
    margin: 0 auto;
}

/*Banner principal*/
.banner_principal {
    background-image: url('../img/balcão.png');
    background-repeat: no-repeat;
    background-size: 100%;
    width: 100%;
    height: 900px;
}

.banner_menu {
    display: flex;
   justify-content: space-around;
   padding-top: 32px;
   padding-bottom: 150px;
}

.banner_menu button {
   background-color: transparent;
   border: none;
}

/*navegação / descrição / setas*/
.navegação {
    padding-left: 80px;
}

.título p {
    font-family: Playfair Display;
    font-size: 80px;
    font-weight: 700;
    line-height: 88px;
    text-align: left;
    color: #FFFFFF;
    margin-left: 80px;
    margin-top: 40px;
    margin-bottom: 0px;
}

.título h2 {
    font-family: 'Questrial', sans-serif;
    margin-left: 80px;
    margin-bottom: 120px;
    font-weight: 200;
    font-size: 32px;
    line-height: 40px;
    color: #FFFFFF;
}
.setas {
    margin-left: 80px;
}

.setas button {
    background-color: transparent;
    border: none;
}

/*descrição do café*/
.descrição_café {
    display: flex;
   justify-content: center;
   padding-top: 120px;
   padding-bottom: 140px;
   gap: 140px;
}

.descrição_café h3 {
    font-family: 'Playfair Display';
    font-weight: 700;
    font-size: 56px;
    line-height: 60px;
    color: #0B1D03;
}

.descrição_café p {
    font-family: 'Questrial', sans-serif;
    width: 581px;
    height: 160px;
    color: #0B1D03;
}

.descrição_mais {
    display: flex;
    justify-content: center;
    padding-bottom: 180px;
    gap: 40px;
}

.descrição_mais h3 {
    font-family: 'Playfair Display';
    font-weight: 700;
    font-size: 56px;
    line-height: 60px;
    color: #0B1D03;
    margin-left: 100px;
}

.descrição_mais p {
    font-family: 'Questrial', sans-serif;
    width: 581px;
    height: 160px;
    color: #0B1D03;
    margin-left: 100px;
}

/*Menu de compra*/
.título_menu_compra {
    margin-left: 80px;
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 700;
    font-size: 56px;
    line-height: 60px;
    color: #A0996C;
}

.menu {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-bottom: 32px;
    gap: 32px;
}

.compra {
    border-radius: 8px;
    background: #F7F1E6;
    width: 459px;
    height: 560px;
}

.compra h4 {
    font-family: 'Questrial', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    padding-top: 40px;
}

.compra h2 {
    font-family: 'Questrial', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 40px;
    color: #0B1D03;
    margin-bottom: -56px;
    margin-left: -70px;
}

.compra p {
    font-family: 'Questrial', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    color: #969696;
    margin-left: 90px;
}

.compra button {
    font-family: 'Questrial', sans-serif;
    background: #0B1D03;
    border-radius: 4px;
    width: 395px;
    height: 76px;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    color: #FFFFFF;
}

/*caracteristicas do produto*/
.características {
    display: flex;
    justify-content: space-around;
    text-align: center;
    margin: 150px 80px 80px 68px;
}

.características p {
    font-family: 'Questrial', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.04em;
    color: #0B1D03;
    width: 260px;
    height: 52px;
    margin-top: 32px;
}

/*opções do produto*/
.produto {
    display: flex;
    justify-content: center;    
}

.catálogo {
    margin-left: 80px;
    background-image: url(../img/xicaras.png);
    background-repeat: no-repeat; 
    width: 100%;   
    height: 560px;
}

.catálogo h3 {
    font-style: normal;
    font-weight: 700;
    font-size: 56px;
    line-height: 60px;
    font-family: 'Playfair Display';
    color: #FFFCF6; 
    padding-left: 50px;
    padding-top: 390px;
    margin: 0;     
}

.catálogo p {
    font-family: 'Questrial', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 26px;
    letter-spacing: 0.04em;
    color: #FFFCF6;
    width: 451px;
    height: 48px;
    padding-left: 50px;
    margin-top: 15px;
}

.acessório {
    margin-right: 60px;
    background-image: url(../img/bule.png);
    background-repeat: no-repeat;
    width: 100%;
    height: 560px;
}

.acessório h3 {
    font-style: normal;
    font-weight: 700;
    font-size: 56px;
    line-height: 60px;
    font-family: 'Playfair Display';
    color: #FFFCF6; 
    padding-left: 50px;
    padding-top: 390px;
    margin: 0;
}

.acessório p {
    font-family: 'Questrial', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 26px;
    letter-spacing: 0.04em;
    color: #FFFCF6;
    width: 451px;
    height: 48px;
    padding-left: 45px;
    margin-top: 15px;
}

/*mapa*/
.mapa {
    width: 100%;
    height: 800px;
    background: #FFFFFF;
    margin-top: 160px;
}

.mapa h3 {
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 700;
    font-size: 56px;
    line-height: 60px;
    color: #0B1D03;
    padding-top: 40px;;
    margin-left: 80px;
}

.cidade {
    box-sizing: border-box;
    border: 2px solid #0B1D03;
    border-radius: 4px;
    Width: 459px;
    Height: 76px;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
    color: #969696;
    padding-left: 28px;
    background-image: url(../img/cidade.png);
    background-repeat: no-repeat;
    background-position: 420px 33px;
    margin-left: 80px;
}

.endereço {
    box-sizing: border-box;
    border: 2px solid #0B1D03;
    border-radius: 4px;
    Width: 930px;
    Height: 76px;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
    color: #969696;
    padding-left: 28px;
    margin-left: 28px;
    background-image: url(../img/cidade.png);
    background-repeat: no-repeat;
    background-position: 890px 33px;
}

.mapa img {
    margin-top: 24px;
    padding-left: 80px;
    Width: 1420px;
    Height: 500px;

}

/*rodapé*/
.rodapé {
    
    font-family: 'Questrial', sans-serif;
    height: 306px;
    background: #F7F1E6;
    display: flex;
    justify-content: center;
    gap: 250px;
    padding-left: 80px;
    padding-top: 56px;
}

.rodapé h2 {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
    align-items: center;
    color: #1F1F1F;
}

.rodapé ul {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    align-items: center;
    color: #1F1F1F;
    list-style:none;
    padding-left:0;
}

.rodapé a {
    text-decoration: none;
    color: #1F1F1F;
}

.assinatura {
    text-align: center;
    width: 100%;
    height: 68px;
    background: #F7F1E6;
    padding-top: 24px;
}

/*redes sociais*/
.RS {
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
    
}

.IG {
    width: 33px;
    height: 33px;
    background-color: #1F1F1F;
    background-image: url(../img/instagram.png);
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50px;
}
    

.FB {
    width: 33px;
    height: 33px;
    background-color: #1F1F1F;
    background-image: url(../img/facebook.png);
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50px;
}

.TT {
    width: 33px;
    height: 33px;
    background-color: #1F1F1F;
    background-image: url(../img/twitter.png);
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50px;
}