
/*geral*/

body {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    width: 100%;
    background: #FFFCF6;;
}

h3 {
    font-family: 'Playfair Display', serif;
}

/*header*/

.imagem_fundo {
    background-image: url(../img/balcão.png);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 100%;
    height: 900px;
}

.topo {
    display: flex;
    justify-content: space-between;
    padding: 32px 80px;
}

.menu {
    width: 28px;
    height: 28px;
    border: 0px;
    background-color: transparent;
}

.sacola {
    width: 18px;   
    height: 20px;
}

.banner {
    display: flex;
    flex-direction: row;
    padding-top: 150px;
    padding-left: 80px;
}

.banner img {
    margin-left: 8px;
}

/*texto - Preparamos o melhor café fresco*/

.título_principal {
    padding-top: 40px;
    padding-left: 80px;
/*config texto*/
    font-family: 'Playfair Display', serif;
    color: white;
    font-size: 80px;
    font-weight: 700;
    text-align: left;
}

.título_principal p {
    margin-top: 0px;
    margin-bottom: 0px;
}

.subtítulo_principal {
    padding-top: 24px;
    padding-left: 80px;
/*config texto*/
    color: white;
    font-weight: 400;
    font-size: 32px;
}

.subtítulo_principal h4 {
    margin-top: 0px;
    margin-bottom: 0px;
}

.setas {
    margin: 60px 0px;
    padding-left: 60px;
}

.setas button {
    background-color: transparent;
    box-shadow: none;
    border: none;
    cursor: pointer;
}


.setas img {
    padding-left: 20px;
}

.descrição {
    display: flex;
    flex-direction: row;
    margin-top: 120px;
    align-content: space-between;
}

.descrição img {
    padding-left: 80px;
}

.descrição h3 {
    width: 581px;
    height: 60px;
    font-weight: 700;
    font-size: 56px;
    padding-left: 155px;
    color: #0B1D03;
}

.descrição p {
    width: 581px;
    height: 160px;
    font-weight: 700;
    font-size: 32px;
    line-height: 40px;
    text-align: left;
    padding-left: 155px;
    color: #0B1D03;
}

.descrição2 {
    display: flex;
    flex-direction: row;
    margin-top: 120px;
    align-content: center;
}

.descrição2 h3 {
    width: 581px;
    height: 60px;
    font-weight: 700;
    font-size: 56px;
    color: #0B1D03;
    padding-left: 80px;
}

.descrição2 p {
    width: 581px;
    height: 160px;
    font-weight: 700;
    font-size: 32px;
    line-height: 40px;
    text-align: left;
    padding-left: 80px;
    padding-right: 155px;
    color: #0B1D03;
}

.título {
    padding-top: 120px;
    padding-left: 80px;
    padding-right: 939px;
    color: #A0996C;
    font-weight: 700;
    font-size: 56px;
    line-height: 60px;
}

.produtos {
    padding-left: 80px;
    padding-right: 80px;
    padding-bottom: 32px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.produtos div {
    height: 420px;
    width: 350px;
    background: #F7F1E6;
    border-radius: 8px;
}

.produtos h4 {
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    color: #0B1D03;
    margin-bottom: 10px;
}

.produtos img {
    padding-left: 85px;
}

.produtos h2 {
    font-weight: 700;
    font-size: 20px;
    color: #0B1D03;
    text-align: center;
    height: 10px;
}

.produtos p {
    font-weight: 500;
    font-size: 15px;
    color: #969696;
    margin-left: 205px;
    margin-top: -22px;
}

.produtos button {
    Width: 250px;
    Height: 50px;    
    background: #0B1D03;
    border-radius: 4px;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 15px;
    margin-left: 50px;
}

.produtos2 {
    padding-left: 80px;
    padding-right: 80px;
    padding-bottom: 32px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.produtos2 div {
    height: 420px;
    width: 350px;
    background: #F7F1E6;
    border-radius: 8px;
}

.produtos2 h4 {
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    color: #0B1D03;
    margin-bottom: 10px;
}

.produtos2 img {
    padding-left: 85px;
}

.produtos2 h2 {
    font-weight: 700;
    font-size: 20px;
    color: #0B1D03;
    text-align: center;
    height: 10px;
}

.produtos2 p {
    font-weight: 500;
    font-size: 15px;
    color: #969696;
    margin-left: 205px;
    margin-top: -22px;
}

.produtos2 button {
    Width: 250px;
    Height: 50px;    
    background: #0B1D03;
    border-radius: 4px;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 15px;
    margin-left: 50px;
    justify-content: space-between;
}

.beneficios {
    padding: 80px 200px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.beneficios p {
    Width: 200px;
    Height: 52px;
    margin-top: 64px;
    font-weight: 500;
    font-size: 20px;
    line-height: 26px;
    text-align: center;
}

.beneficios img {
    padding-left: 60px;
}

.catálogo {
    width: 1600px;
    display: inline-flex;
    margin-left: 80px;
    gap: 250px;
}

.café h3 {
    margin-top: 350px;
    margin-left: 40px;  
    font-weight: 700;
    font-size: 56px;
    line-height: 60px;
    color: #FFFCF6;
}

.café p {
    margin-left: 40px;
    font-weight: 500;
    font-size: 20px;
    line-height: 26px;
    color: #FFFCF6;
    Width: 451px;
    Height: 48px;
}

.café img {
    position: absolute;
    z-index: -1;
}

.acessorio h3{
    margin-top: 350px;
    margin-left: 40px;
    font-weight: 700;
    font-size: 56px;
    line-height: 60px;
    color: #FFFCF6;
}

.acessorio p {
    margin-left: 40px;
    font-weight: 500;
    font-size: 20px;
    line-height: 26px;
    color: #FFFCF6;
    Width: 451px;
    Height: 48px;
}

.acessorio img {
   position: absolute;
   z-index: -1;
}

.mapa {
    width: 100%;
    height: 840px;
    margin-top: 160px;
    background: #FFFFFF;    
}

.mapa h3 {
    font-weight: 700;
    font-size: 56px;
    line-height: 60px;
    color: #0B1D03;
    margin-left: 80px;
    padding-top: 45px;
}

.mapa form {
    padding-left: 80px;
    padding-bottom: 24px;    
}

.mapa img {
    padding-left: 80px;
    width: 1440px;
}

.cidade {
    width: 400px;
    height: 76px;
    border-radius: 4px;
    padding-left: 28px;
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
    background-image: url(../img/cidade.png);
    background-repeat: no-repeat;
    background-position: 380px center;
}

.endereço {
    height: 76px;
    width: 940px;
    border-radius: 4px;
    margin-left: 32px;
    padding-left: 28px;
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
    background-image: url(../img/lupa.png);
    background-repeat: no-repeat;
    background-position: 920px center;
}

.mapa img {
    height: 512px;
    align-items: center;
}

.rodapé {
    display: flex;
    justify-content: center;
    gap: 250px; 
    background-color: #F7F1E6;
    padding-top: 56px;
    padding-right: 80px;
    height: 306px;
    width: 100%;
}

.rodapé h2 {
    font-size: 20px;
    font-weight: 1000;
    text-align: left;
    color: #1F1F1F;
}

.rodapé a {
    text-decoration: none;
    color: #1F1F1F;
    font-size: 20px;
    font-weight: 400;
    font-size: 20px;
    font-weight: 400;
    text-align: left;
    margin-bottom: 12px;
    margin-left: -40px;
}

.rodapé li {
    list-style: none;
    padding-bottom: 12px;
}

.RS {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 70px; 
    margin-left: 40px;

    
}

.rodapé_RS h2 {
    font-size: 20px;
    font-weight: 1000;
    text-align: left;
    color: #1F1F1F;
}


.IG {
    width: 33px;
    height: 33px;
    background-color: #1F1F1F;
    background-image: url(../img/instagram.png);
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50px;
}
    

.FB {
    width: 33px;
    height: 33px;
    background-color: #1F1F1F;
    background-image: url(../img/facebook.png);
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50px;
}

.TT {
    width: 33px;
    height: 33px;
    background-color: #1F1F1F;
    background-image: url(../img/Twitter.png);
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50px;
}

.final {
    text-align: center;
    width: 100%;
    height: 68px;
    background-color: #F7F1E6;
}