aside {
    background:#ffffff;
    font-size: 20px;
    font-family: 'Playfair Display', serif;
    height: 900px;
    width: 784px;
    margin: 48px 48px 80px 48px; 
}

h3 {
font-family: 'Questrial', sans-serif;
font-size: 20px;
font-weight: 600;
line-height: 26px;
letter-spacing: 0em;
text-align: left;
}

input {
    height: 76px;
    width: 656px;
    border-radius: 4px;
    border: 2px solid #0B1D03;
    padding-left: 24px;
    margin-bottom: 24px;
    /*text*/
    font-family: 'Questrial', sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 28px;
    text-align: left;
}

textarea {
    height: 238px;
    width: 656px;
    border-radius: 4px;
    border: 2px solid #0B1D03;
    padding-left: 24px;
    padding-top: 24px;
    margin-bottom: 32px;
    /*text*/
    font-family: 'Questrial', sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 28px;
    text-align: left;
}

button {
    height: 76px;
    width: 685px;
    border-radius: 4px;
    background-color: #0B1D03;
    /*text*/
    font-family: 'Questrial', sans-serif;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    color: #ffffff;


}